h1 Possibly the worst way to figure out a file's size

p Upload a file to be told it's size.

form(action='/' method='post' enctype='multipart/form-data')
    input(type='file' name='file')
    input(type='submit')
    
